@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full px-5 py-3 border-2 border-cyan-400 rounded-xl bg-cyan-50 text-gray-800 shadow focus:ring-2 focus:ring-cyan-400 transition mb-4;
}
#navigation-map, .map-container {
  height: 400px;
  width: 100%;
}